<section class="page-section" id="contact">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8 col-xl-6 text-center">
					<h2 class="mt-0">新規登録(管理者)</h2>
					<hr class="divider" />
				</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center mb-5">
			<div class="col-lg-6">
				<%= form_with model: @admin, url: admin_registration_path do |f| %>
					<div class="form-floating mb-3">
						<%= f.text_field :email, placeholder: "email", id: "email", class: "form-control", required: true %>
						<%= f.label :email, "メールアドレス" %>
					</div>
					<div class="form-floating mb-3">
						<%= f.text_field :password, placeholder: "パスワード", class: "form-control", id: "password", required: true %>
						<%= f.label :password, "パスワード(6文字以上)" %>
					</div>
					<div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
					<div class="d-grid">
						<%= button_tag(type: "submit", class: "btn btn-primary btn-xl") do %>
							登録
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
