<% reviews.reverse.each do |review| %>
  <% if review.not_recommendation.present? %>
    <div class="mb-2">
      <div class="review_box d-flex mt-2">
        <div class="flex-shrink-0 avatar_review">
          <% if review.user.image.present? %>
            <%= image_tag review.user.image, class: "user_icon" %>
          <% else %>
            <%= image_tag 'user_icon.png', class: "user_icon" %>
          <% end %>
        </div>
        <div class="flex-grow-1 ms-3">
          <p><%= review.user.name %></p>
          <p class="review_time"><%= review.updated_at.to_s(:datetime_jp) %></p>
            <div id="tc_<%= review.id %>">
              <%= truncate(review.not_recommendation, length:100) do %>
                <%= link_to "続きを読む", '#', remote: true, onclick: "SeeMore('tc_#{review.id}', 'untc_#{review.id}')" %>
              <% end %>
            </div>
            <div class="hide" id="untc_<%= review.id %>">
              <p><%= review.not_recommendation %></p>
              <%= link_to "元に戻す", '#', remote: true, onclick: "SeeReverse('tc_#{review.id}', 'untc_#{review.id}')" %>
            </div>
        </div>
      </div>
      <% if user_signed_in? && review.user.id == current_user.id %>
        <%=link_to "編集する", edit_review_path(review.id), class: "ms-2" %>
      <% end %>
      <hr>
    </div>
  <% end %>
<% end %>
<script>
  function SeeMore(truncate, untruncated) {
    const tc = document.getElementById(truncate);
    const untc = document.getElementById(untruncated);
    tc.classList.toggle('hide');
    untc.classList.toggle('hide');
  }

  function SeeReverse(truncate, untruncated) {
    const tc = document.getElementById(truncate);
    const untc = document.getElementById(untruncated);
    tc.classList.toggle('hide');
    untc.classList.toggle('hide');
  }
</script>
